@import "variables";

@text-color: #ebebeb;

@label-color: @text-color;
@label-background: darken(@display-background, 5%);
@label-secondary-color: darken(@text-color, 50%);
@label-secondary-background: darken(@display-background, 4%);

@nav-item-color: @text-color;
@nav-item-background: darken(@display-background, 10%);

@nav-item-active-color: @text-color;
@nav-item-active-background: lighten(@display-background, 10%);
