@import (css) "../css/normalize.css";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@import (css) "../css/pocketgrid.css";

@import "variables";

@font-face {
    font-family: 'Segment7Standard';
    src: url('/static/fonts/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

html {
    background-color: @page-background;
}

#app {
    width: 1024px;
    margin: 0 auto;
}

@import "effects";

.warning-strip {
    .warning-strip-gradient(@warning-strip-light-color, @warning-strip-dark-color, @warning-strip-width);
}

.danger-strip {
    .warning-strip-gradient(@danger-strip-light-color, @danger-strip-dark-color, @warning-strip-width);
}
